*{
  padding:0;
  margin:0;
}

#container{
    width:1000px;
    margin:auto;
}

.tab{
   background-color:#eee;
   border:1px solid #ccc;
   overflow:hidden;
}

.tab button{
    float:left;
    border:none;
    outline:none;
    padding:18px;
    color:#444;
    font-weight:bold;
    cursor:pointer;
}

.tab button:hover,.active{
    background-color: #ccc;
}


.tabcontent{
  padding:16px;
  border:1px solid #ccc;
  border-top:none;
  display:none;
}